<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
.topnav {
  overflow: hidden;
  background-color:  #993366;
  font-size: 50px;
  
}
.topnav p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding:8px 12px;
  text-decoration: none;
 


}

.topnav-right {
  float: right;
  font-size: 20px;
}

i {
  margin-right: 10px;
}


.btn {
  background-color: #666666;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  
}
.a {
 
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 50px;
  margin-left: 400px;

}


input[type=text], select, textarea {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 6px 20px;
  overflow: hidden;
  background-color: #993366;
 color:white;
 
}


li {
  float: right;
  padding:0;
  

}
img
{
height:"10px";
}
.btn1 {
  background-color:#993366;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  
}
.footer {
   position: ;
   left: 0;
   bottom: 0;
   width: 1890px;
   height:30px;
   background-color: #993366;
   color: white;
   text-align: center;
   top:100px
}


</style>
</head>

<body style="background-color:#E8E8E8;">
<ul>
<li><img src="mphasis3.png" alt="logo"></li>

  <h1><font size="8"><b>Opportunity Finder</b></font></h1>
  
  </ul>
<br><br>

<div align="right">
       <form>
  <input type="button" value="Back"  class="btn btn-primary" id="btn" onclick="history.go(-1)">
</form>
</div>
<center><h2><b>View Process</b></h2></center>
<br><br>


<form action="viewprocessadmin">

<span style="padding-left:500px;"></span>
<label class="col-sm-2 col-form-label"><b>Enter the ProcessID</b></label>
 
<input class="form-control" type="text" name="pid"><br><br>
<center>
<input type="submit" class="btn1"  value="Submit">
</center>

</form>
    

</body>
<br>
<br>
<br>
<br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <div class="footer">
  <p style="padding-top:5px;padding-bottom:1px">Mphasis &#9400; Proprietary And Confidential Info. </p>
</div>
</html>