<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/reference_css.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
      	<img  class="navbar-brand" src="mphasis_logo.jpg">
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="adminpage.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Process Discovery<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
              <li><a href="CaptureProcess.html"><b>Capture Process</b></a></li>
              <li><a href="#"><b>View Process</b></a></li>
              <li><a href="#"><b>Approve Process</b></a></li>
              <li><a href="#"><b>Process Prioritization</b></a></li>
              
              
           </ul>
       </li>
       <li><a href="usermanagement.html">User Management</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="loginupdated.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
  <h1>Process Discovery</h1>
  
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">   

  <div class="row">
    <div class="col-sm-6">
      <a href="/user/captureProcess"><img src="capture_process.png" class="img-responsive" style="width:20%" alt="Image"></a>
      <h3 style="text-align:center;"><b>Capture Process</b></h3>
    </div>
    <div class="col-sm-6"> 
        <a href="/user/processViewById"><img src="view_process.jpg" class="img-responsive" style="width:20%" alt="Image"></a>
      <h3 style="text-align:center;"><b>View Process</b></h3>
    </div>
    <div class="col-sm-6" id="approve"> 
        <a href="/user/approveProcess"><img src="approve.PNG"class="img-responsive" style="width:20%" alt="Image"></a>
      <h3 style="text-align:center;"><b>Approve Process</b></h3>
    </div>
    <div class="col-sm-6" id="approve"> 
        <a href="/user/list"><img src="Agile-4-4_Stroke_-_line-16-512.png"class="img-responsive" style="width:20%" alt="Image"></a>
        <h3 style="text-align:center;"><b>Process Prioritization</b></h3>
      </div>
  </div>


</div>

<footer class="container-fluid text-center" id="bottom">
  <p>&copy; All Rights Reserved Mphasis Limited 2020</p>
</footer>

</body>
</html>
