<div>
    <form action="/user/adduser" method="POST">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Your Name" class="form-control" name="userName">
    <br><br>
     <label for="employeeid">Employee-Id</label>
    <input type="text" placeholder="Enter Your Employee-Id" class="form-control" name="employeeId">
    <br><br>
     <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" class="form-control" name="password">

    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
    </form>
</div>